/* :root {
    --clerk-primary: #53a342 !important;
    --clerk-primary-hover: #438835 !important;
  }
  
  .cl-button-primary {
    background-color: #53a342 !important;
  }
  
  .cl-button-primary:hover {
    background-color: #438835 !important;
  } */